.image-container {
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max(350px, 35%);
}

.opened-image {
  position: relative;
  width: 100%;
  /* width: max(350px, 70%); */
  border-radius: 15px;
  filter: drop-shadow(10px 10px 10px #272727);
}

.like-button {
  position: absolute;
  z-index: 10;
  top: 5%;
  right: 5%;
  width: 8%;
  cursor: pointer;
}

.invisible {
  display: none;
}
