.input {
    margin-top: 1rem;
    width: 20rem;
    height: 2.5rem;
    border-radius: 20px;
    border-width: 0;
    font-size: 17px;
    padding-left: 1rem;
    background-color: #C4C4C4;
}

.forgot {
    margin-top: 0.5rem;
    background-color: transparent;
    border-width: 0px;
    color:white;
    font-size: 13px;
}

.login {
    margin-top: 1rem;
    width: 20rem;
    height: 2.5rem;
    border-radius: 20px;
    border-width: 0;
    font-size: 17px;
    padding-left: 1rem;
    background-color: #C4C4C4;
}

.logo {
    width: 10px;
    height: 10px;
}