.location {
  background-color: #645c73;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d2c0f0;
}

h2 {
  font-size: 48px;
  position: absolute;
  margin: 1.5rem;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
}

.done {
  font-size: 20px;
  width: 10rem;
  height: 2.2rem;
  border-radius: 15px;
  border-width: 0;
  background-color: #c8aef5;
  color: #645c73;
  cursor: pointer;
}
.done:hover {
  opacity: 70%;
}

.signup {
  margin-top: 1rem;
  width: 17rem;
  height: 2.5rem;
  border-radius: 20px;
  border-width: 0;
  font-size: 26px;
  background-color: #c8aef5;
  color: #645c73;
  cursor: pointer;
}
.signup:hover {
  opacity: 70%;
}

.back-button {
}
.back-button:hover {
  opacity: 70%;
}
