.file {
  display: none;
}

.file-wrapper {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.upload-button {
  width: 80px;
}

.upload-button:hover {
  opacity: 70%;
}

.upload-container {
  position: fixed;
  right: 20px;
  bottom: 10px;
}
