.map-button {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 120px;
  z-index: 1;
}
.map-button:hover {
  opacity: 0.5;
}

.profile-container {
  width: 100vw;
  height: 100vh;
  padding: 7rem;
}
